@media screen and (max-width: 992px)
{
    .col_container{
        display: block;
    }

    .infos{
        font-size: 18px;
    }

    #moi{
        font-size: 18px;
    }

    h2{
        font-size: 30px;
    }

    span {
        font-size: 22px;
    }

    #bas{
        position: relative;
        padding-bottom: 30px;
    }
}