html{
  height: 100%;
}

body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  min-height: 100%;
  position: relative;
}

.col_container{
  display: grid;
  grid-template-columns: 250px auto;
  width:100%;
}

.col{
  position: relative;
  height: 100%;
}

.bandeau{
  background-color: rgb(211,47,47);
}

.roundedimage{
  overflow: hidden;
  border-radius: 50px;
  width: 90px;
  height: 90px;
  text-align: center;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.roundedimage img{
  width: 100%;
}

.title{
  text-transform: uppercase;
  background-color: rgb(66,66,66);
  color: white;
  text-align: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 30px;
}

.infos{
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 5px;
  font-size: 14px;
}

#moi{
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  font-size: 14px;
}

#bas{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 30px;
}

#hobby{
  font-size: 30px;
  padding-top: 15px;
  text-align: center;
}

.cv{
  padding-left: 40px;
  padding-right:40px;
}

header{
  margin-top: 50px;
  margin-bottom: 50px;
}

#first_name{
  color:rgb(211,47,47);
  text-transform: uppercase;
  font-size: 40px;
}

#name{
  text-transform: uppercase;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 0px;
}
#underline{
  width: 50px;
  color: rgb(211,47,47);
  background-color: rgb(211,47,47);
  margin-left: 0px;
  height: 2px;
  border: 0px;
}

#job {
  margin-top: 10px;
  margin-bottom: 0px;
}

h2{
  text-transform: uppercase;
  font-size: 25px;
  border-bottom: solid 2px rgb(211,47,47);
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

h2 .fas{
  margin-right: 20px;
  margin-left: 10px;
  color: rgb(211,47,47);
}

h2 .far{
  margin-right: 20px;
  margin-left: 10px;
  color: rgb(211,47,47);
}

.col1{
  padding-right: 20px;
  width: 110px;
  color: rgb(211,47,47);
}
.raw1{
  display: flex;
  align-content: space-around;
}

.raw2{
  display: flex;
  align-content: space-around;
}

.raw3{
  display: flex;
  align-content: space-around;
}

.first{
  color:rgb(211,47,47);
  font-size: 30px;
  list-style-type: none;
  list-style-image: url(puceFirst.png);
}

span {
  color: black;
  font-size: 18px;
}

.place{
  list-style-type: none;
  padding-top: 2px;
}

#form_title1{
  list-style-type: none;
  text-transform: uppercase;
  padding: 10px 5px 5px 5px;
}

#form_title2{
  list-style-type: none;
  text-transform: uppercase;
  padding: 0px 5px 5px 5px;
}

#form_title3{
  list-style-type: none;
  text-transform: uppercase;
  padding: 0px 5px 5px 5px;
}

.object{
  list-style-type: none;
  padding: 5px;
}

.description{
  list-style-type: none;
  padding: 5px;
  text-align: justify;
}

.personn{
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  align-content: space-around;
}

.director{
  text-transform: uppercase;
  padding-bottom: 10px;
  width: 400px;
}

.details{
  padding-bottom: 5px;
  width: 400px;
}